In [1]:
import pandas as pd
import ast

In [2]:
# Read the csv file first
df = pd.read_csv('IT_List_3.csv')

In [3]:
# Checking data frame's content
df.head()

,apply_url,category,city,civility,company_city,company_country,company_crunchbase_url,company_description,company_domain,company_employee_metrics,...,tenure_end,tenure_length,tenure_start,title,twitter,type,updated_at,viewed,website,year_founded
0,https://ultra.wd3.myworkdayjobs.com/ultra-care...,Defense and Space Manufacturing,Austin,NaN,Austin,US,NaN,Ultra Intelligence & Communications provides c...,ultra-ic.com,NaN,...,02/2024,3 yrs 1 mos,02/2021,Senior IT Infrastructure Engineer,NaN,Full-time,2024-02-23T08:34:06.251000,False,http://ultra-ic.com,NaN
1,https://ultra.wd3.myworkdayjobs.com/ultra-care...,Defense and Space Manufacturing,Austin,NaN,Austin,US,NaN,Ultra Intelligence & Communications provides c...,ultra-ic.com,NaN,...,02/2024,1 yrs 4 mos,11/2022,Senior IT Infrastructure Engineer,NaN,Full-time,2024-02-23T08:34:06.251000,False,http://ultra-ic.com,NaN
2,https://ultra.wd3.myworkdayjobs.com/ultra-care...,Defense and Space Manufacturing,Austin,NaN,Austin,US,NaN,Ultra Intelligence & Communications provides c...,ultra-ic.com,NaN,...,02/2024,2 yrs 10 mos,05/2021,Senior IT Infrastructure Engineer,NaN,Full-time,2024-02-23T08:34:06.251000,False,http://ultra-ic.com,NaN
3,https://ultra.wd3.myworkdayjobs.com/ultra-care...,Defense and Space Manufacturing,Austin,NaN,Austin,US,NaN,Ultra Intelligence & Communications provides c...,ultra-ic.com,NaN,...,02/2024,3 yrs 10 mos,05/2020,Senior IT Infrastructure Engineer,NaN,Full-time,2024-02-23T08:34:06.251000,False,http://ultra-ic.com,NaN
4,https://www.linkedin.com/job-apply/3804324684,Telecommunications,Arlington,Monsieur,Arlington,US,https://www.crunchbase.com/organization/global...,GTT is a managed network and security services...,gtt.net,NaN,...,02/2024,0 yrs 8 mos,07/2023,Technical Design Authority (Security),NaN,Full-time,2024-02-23T08:20:46.153000,False,http://www.gtt.net,NaN

In [4]:
df['sales_navigator_company_id']

0      69235707.0
1      69235707.0
2      69235707.0
3      69235707.0
4         15620.0
          ...
672        1182.0
673        1182.0
674        1182.0
675        1182.0
676        1182.0
Name: sales_navigator_company_id, Length: 677, dtype: float64

In [5]:
df['company_id'].head()

0    69235707.0
1    69235707.0
2    69235707.0
3    69235707.0
4       15620.0
Name: company_id, dtype: float64

In [6]:
df['meta']

0      {"apply_url": "https://ultra.wd3.myworkdayjobs...
1      {"apply_url": "https://ultra.wd3.myworkdayjobs...
2      {"apply_url": "https://ultra.wd3.myworkdayjobs...
3      {"apply_url": "https://ultra.wd3.myworkdayjobs...
4      {"apply_url": "https://www.linkedin.com/job-ap...
                             ...
672    {"apply_url": "https://jobs.bt.com/BTGroup/job...
673    {"apply_url": "https://jobs.bt.com/BTGroup/job...
674    {"apply_url": "https://jobs.bt.com/BTGroup/job...
675    {"apply_url": "https://jobs.bt.com/BTGroup/job...
676    {"apply_url": "https://jobs.bt.com/BTGroup/job...
Name: meta, Length: 677, dtype: object

In [7]:
# Display Columns
df.columns

Index(['apply_url', 'category', 'city', 'civility', 'company_city',
       'company_country', 'company_crunchbase_url', 'company_description',
       'company_domain', 'company_employee_metrics',
       ...
       'tenure_end', 'tenure_length', 'tenure_start', 'title', 'twitter',
       'type', 'updated_at', 'viewed', 'website', 'year_founded'],
      dtype='object', length=157)

In [8]:
df['industry']

0      Defense and Space Manufacturing
1      Defense and Space Manufacturing
2      Defense and Space Manufacturing
3      Defense and Space Manufacturing
4                   Telecommunications
                    ...
672                 Telecommunications
673                 Telecommunications
674                 Telecommunications
675                 Telecommunications
676                 Telecommunications
Name: industry, Length: 677, dtype: object

In [9]:
# Handpick important columns
df1_columns = ['job_title', 'full_name', 'linkedin_profile_id', 'linkedin_profile_url', 'location', 'sales_navigator_company_id',
              'tenure_length', 'company_id', 'company_name', "industry"]

In [10]:
cleaned_df1 = df[df1_columns]

In [11]:
cleaned_df1['company_id'].isnull

<bound method Series.isnull of 0      69235707.0
1      69235707.0
2      69235707.0
3      69235707.0
4         15620.0
          ...
672        1182.0
673        1182.0
674        1182.0
675        1182.0
676        1182.0
Name: company_id, Length: 677, dtype: float64>

In [12]:
cleaned_df1.loc[:, 'company_id'] = cleaned_df1['company_id'].fillna(0).astype(int).astype(str)

/var/folders/ht/_xz4ghgx53dfhgw_kyyg0twr0000gn/T/ipykernel_31080/3687494531.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['69235707' '69235707' '69235707' '69235707' '15620' '15620' '103683'
 '103683' '545081' '545081' '545081' '10257683' '2264764' '10371941'
 '10371941' '10371941' '10371941' '10371941' '9493234' '11004605' '164376'
 '401618' '21995' '0' '21995' '11191359' '11191359' '11191359' '11191359'
 '524076' '14167' '14167' '14167' '14167' '14167' '276725' '104297'
 '104297' '104297' '104297' '104297' '8543' '8543' '8543' '8543' '8543'
 '163727' '163727' '163727' '163727' '163727' '47756' '3020088' '3020088'
 '3020088' '1403805' '1282497' '8543' '8543' '8543' '8543' '8543' '7253'
 '7253' '7253' '7253' '7253' '11191359' '11191359' '11191359' '11191359'
 '978050' '978050' '978050' '978050' '0' '2320796' '2320796' '2270856'
 '2270856' '162813' '162813' '162813' '162813' '162813' '76521002'
 '76521002' '933864' '5499' '5499' '5499' '5499' '5499' '103683' '103683'
 '1118567' '1118567' '64981' '64981' '164766' '9451787' '16942361'
 '16942361' '22929' '22929' '0' '22929' '0' '1799' '1799' '1799' '1799'
 '1799' '38696' '3304' '3304' '11191359' '11191359' '11191359' '11191359'
 '203938' '203938' '203938' '203938' '103683' '103683' '43832' '9301612'
 '978050' '978050' '978050' '978050' '0' '1882' '1882' '0' '1882' '1882'
 '2377785' '2377785' '2377785' '103069' '103069' '164766' '18804663'
 '4526' '4526' '10371941' '10371941' '10371941' '10371941' '10371941'
 '103683' '103683' '21259' '21259' '21259' '21259' '21259' '524076'
 '10371941' '10371941' '10371941' '10371941' '10371941' '16882' '16882'
 '16882' '16882' '16882' '7253' '7253' '7253' '7253' '7253' '162559'
 '162559' '162559' '162559' '162559' '96148266' '96148266' '96148266'
 '96148266' '96148266' '1354285' '1354285' '1354285' '1354285' '1354285'
 '10371941' '10371941' '10371941' '10371941' '10371941' '3304' '3304'
 '14671' '14671' '14671' '14671' '14671' '401618' '166518' '166518' '0'
 '166518' '166518' '1170014' '1170014' '1170014' '1170014' '2637508'
 '2637508' '2637508' '0' '2637508' '166984' '166984' '166984' '166984'
 '166984' '166984' '166984' '166984' '166984' '166984' '382657' '382657'
 '382657' '382657' '382657' '663663' '663663' '215128' '0' '5913' '5913'
 '5913' '5913' '5913' '1415' '1415' '1415' '1415' '1415' '14019' '14019'
 '14019' '14019' '14019' '164006' '164006' '164006' '0' '164006'
 '10873330' '10873330' '214032' '1314683' '1314683' '1314683' '1314683'
 '1314683' '14671' '14671' '14671' '14671' '14671' '10346153' '10346153'
 '10346153' '10346153' '10346153' '103683' '103683' '10459163' '578309'
 '775440' '6165396' '14671' '14671' '14671' '14671' '14671' '4724'
 '80030090' '80030090' '80030090' '80030090' '80030090' '214032' '162813'
 '162813' '162813' '162813' '162813' '9493234' '10682979' '2426258'
 '2426258' '2426258' '2426258' '2426258' '5355' '5355' '5355' '5355'
 '5355' '166345' '166345' '166345' '166345' '166345' '69235707' '69235707'
 '69235707' '69235707' '36404' '36404' '36404' '36404' '166984' '166984'
 '166984' '166984' '166984' '135255' '11257500' '11257500' '11257500'
 '11257500' '2458' '2458' '2458' '2458' '2458' '162559' '162559' '162559'
 '162559' '162559' '80478897' '80478897' '80478897' '68360623' '68360623'
 '68360623' '68360623' '68360623' '12481' '12481' '12481' '12481' '12481'
 '19208214' '11834' '11834' '0' '11834' '11834' '5234457' '12481' '12481'
 '12481' '12481' '12481' '1374' '1374' '1374' '1374' '1374' '79814881'
 '88513' '15324' '0' '15324' '15324' '15324' '7973' '20541663' '5234457'
 '5234457' '11713' '11713' '11713' '11713' '11713' '2320796' '2320796'
 '12481' '12481' '12481' '12481' '12481' '11269147' '11269147' '11269147'
 '11269147' '99813' '99813' '99813' '47596607' '164766' '1012087' '4841'
 '4841' '4841' '4841' '4841' '166914' '166914' '157240' '0' '157240'
 '157240' '157240' '11269147' '11269147' '11269147' '11269147' '3486'
 '3486' '3486' '3486' '3486' '401618' '14835225' '14835225' '14835225'
 '14835225' '14835225' '5234457' '11112930' '11112930' '11112930'
 '11112930' '11112930' '165464' '165464' '12481' '12481' '12481' '12481'
 '12481' '7355' '731608' '731608' '710754' '710754' '710754' '12481'
 '12481' '12481' '12481' '12481' '157240' '0' '157240' '157240' '157240'
 '297667' '297667' '297667' '164766' '157240' '0' '157240' '157240'
 '157240' '12481' '12481' '12481' '12481' '12481' '14547' '14547' '14547'
 '14547' '14547' '28159' '0' '28159' '28159' '28159' '246085' '9253607'
 '27022839' '2214861' '2214861' '2214861' '2214861' '2214861' '6662'
 '6662' '6662' '3780' '3780' '3780' '3780' '3780' '7973' '778098' '23955'
 '33242739' '12481' '12481' '12481' '12481' '12481' '1374' '1374' '1374'
 '1374' '1374' '12481' '12481' '12481' '12481' '12481' '0' '2973906'
 '2973906' '2973906' '2973906' '27022839' '9301612' '297667' '297667'
 '297667' '10459163' '11713' '11713' '11713' '11713' '11713' '28159' '0'
 '28159' '28159' '28159' '19195' '19195' '19195' '28589' '28589' '9493234'
 '5234457' '74891327' '164171' '164171' '164171' '164171' '11269147'
 '11269147' '11269147' '11269147' '2426258' '2426258' '2426258' '2426258'
 '2426258' '5388757' '5388757' '5388757' '5388757' '5388757' '297667'
 '297667' '297667' '2873' '0' '2873' '2873' '1182' '1182' '1182' '1182'
 '1182' '30899' '1415' '1415' '1415' '1415' '1415' '12481' '12481' '12481'
 '12481' '12481' '0' '2973906' '2973906' '2973906' '2973906' '12481'
 '12481' '12481' '12481' '12481' '0' '3154358' '3154358' '952330' '118482'
 '118482' '118482' '118482' '118482' '11025405' '11025405' '11025405'
 '11025405' '11025405' '1070' '1070' '1070' '1070' '1070' '64043' '64043'
 '5234457' '11025405' '11025405' '11025405' '11025405' '11025405' '1182'
 '1182' '1182' '1182' '1182' '0' '2973906' '2973906' '2973906' '2973906'
 '2214861' '2214861' '2214861' '2214861' '2214861' '2214861' '2214861'
 '2214861' '2214861' '2214861' '138349' '138349' '3476' '3476' '3476' '0'
 '3476' '27022839' '1182' '1182' '1182' '1182' '1182' '45435' '45435'
 '45435' '45435' '45435' '1182' '1182' '1182' '1182' '1182' '18523922'
 '18523922' '1182' '1182' '1182' '1182' '1182']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  cleaned_df1.loc[:, 'company_id'] = cleaned_df1['company_id'].fillna(0).astype(int).astype(str)

In [13]:
cleaned_df1['company_id']

0      69235707
1      69235707
2      69235707
3      69235707
4         15620
         ...
672        1182
673        1182
674        1182
675        1182
676        1182
Name: company_id, Length: 677, dtype: object

In [14]:
# Extracting the metadata from the 'meta' column
df['meta'] = df['meta'].apply(ast.literal_eval)

In [15]:
# Creating the columns using lambda function to each column of the metadata
metadata_cols = df['meta'].apply(lambda x: pd.Series(x))

In [16]:
metadata_cols['updated_at']

0      2024-02-23T08:34:06.251000
1      2024-02-23T08:34:06.251000
2      2024-02-23T08:34:06.251000
3      2024-02-23T08:34:06.251000
4      2024-02-23T08:20:46.153000
                  ...
672    2024-02-23T08:52:32.557000
673    2024-02-23T08:52:32.557000
674    2024-02-23T08:52:32.557000
675    2024-02-23T08:52:32.557000
676    2024-02-23T08:52:32.557000
Name: updated_at, Length: 677, dtype: object

In [17]:
metadata_cols['sales_navigator_url']

0      https://www.linkedin.com/sales/company/69235707
1      https://www.linkedin.com/sales/company/69235707
2      https://www.linkedin.com/sales/company/69235707
3      https://www.linkedin.com/sales/company/69235707
4         https://www.linkedin.com/sales/company/15620
                            ...
672        https://www.linkedin.com/sales/company/1182
673        https://www.linkedin.com/sales/company/1182
674        https://www.linkedin.com/sales/company/1182
675        https://www.linkedin.com/sales/company/1182
676        https://www.linkedin.com/sales/company/1182
Name: sales_navigator_url, Length: 677, dtype: object

In [18]:
# Handpick the important columns from the metadata
metadata_cols.columns

Index(['apply_url', 'category', 'city', 'company_id', 'company_name',
       'company_size', 'country', 'crunchbase_company_url', 'crunchbase_url',
       'description', 'domain', 'employees', 'employees_count',
       'employees_estimate', 'employees_range', 'employees_url',
       'extracted_at', 'field', 'followers_count', 'founded_on',
       'geographic_area', 'headquarters', 'id', 'industries', 'industry',
       'job_description', 'job_id', 'job_search_url', 'job_url',
       'last_funding_currency', 'last_funding_date', 'last_funding_investors',
       'last_funding_raised', 'last_funding_type', 'linkedin_company_id',
       'linkedin_employees_url', 'linkedin_job_application_url',
       'linkedin_job_id', 'linkedin_job_search_url', 'linkedin_job_url',
       'linkedin_profile_id', 'linkedin_profile_url', 'linkedin_school_id',
       'linkedin_url', 'location', 'locations', 'logo_url', 'name',
       'number_employees', 'number_of_locations', 'phone', 'phones',
       'postal_code', 'poster_full_name', 'poster_id', 'poster_profile_url',
       'profile_full_name', 'remote_allowed', 'sales_navigator_company_url',
       'sales_navigator_employees_url', 'sales_navigator_url', 'school_id',
       'skills', 'specialities', 'specialties', 'start_url', 'tagline',
       'title', 'type', 'updated_at', 'website', 'year_founded'],
      dtype='object')

In [19]:
df2_columns = ['title', 'job_description', 'job_url', 'job_id', 'poster_full_name', 'poster_id', 'poster_profile_url',
              'company_id', 'number_employees']

In [33]:
metadata_cols["poster_id"]

0
1
2
3
4      ACoAADpCRqMBqSfeAdwcrJkytUL0rJyY1ywL2tY
                        ...
672
673
674
675
676
Name: poster_id, Length: 677, dtype: object

In [20]:
cleaned_df2 = metadata_cols[df2_columns]

In [21]:
cleaned_df2['company_id']

0      69235707
1      69235707
2      69235707
3      69235707
4         15620
         ...
672        1182
673        1182
674        1182
675        1182
676        1182
Name: company_id, Length: 677, dtype: object

In [22]:
cleaned_df2

,title,job_description,job_url,job_id,poster_full_name,poster_id,poster_profile_url,company_id,number_employees
0,Senior IT Infrastructure Engineer,"Based: Greenford, Middlesex - moving to our ne...",https://www.linkedin.com/jobs/view/3815889862/...,3815889862,,,,69235707,477
1,Senior IT Infrastructure Engineer,"Based: Greenford, Middlesex - moving to our ne...",https://www.linkedin.com/jobs/view/3815889862/...,3815889862,,,,69235707,477
2,Senior IT Infrastructure Engineer,"Based: Greenford, Middlesex - moving to our ne...",https://www.linkedin.com/jobs/view/3815889862/...,3815889862,,,,69235707,477
3,Senior IT Infrastructure Engineer,"Based: Greenford, Middlesex - moving to our ne...",https://www.linkedin.com/jobs/view/3815889862/...,3815889862,,,,69235707,477
4,Technical Design Authority (Security),Job Title: Technical Design Authority (Securit...,https://www.linkedin.com/jobs/view/3804324684/...,3804324684,Ed Savage,ACoAADpCRqMBqSfeAdwcrJkytUL0rJyY1ywL2tY,https://www.linkedin.com/in/ed-savage-883405233,15620,3065
...,...,...,...,...,...,...,...,...,...
672,Apprentice - ICT Level 3 Network Technician - ...,Apprentice â€“ ICT Level 3 Network Technician Y...,https://www.linkedin.com/jobs/view/3808569465/...,3808569465,,,,1182,80151
673,Apprentice - ICT Level 3 Network Technician - ...,Apprentice â€“ ICT Level 3 Network Technician Y...,https://www.linkedin.com/jobs/view/3808569465/...,3808569465,,,,1182,80151
674,Apprentice - ICT Level 3 Network Technician - ...,Apprentice â€“ ICT Level 3 Network Technician Y...,https://www.linkedin.com/jobs/view/3808569465/...,3808569465,,,,1182,80151
675,Apprentice - ICT Level 3 Network Technician - ...,Apprentice â€“ ICT Level 3 Network Technician Y...,https://www.linkedin.com/jobs/view/3808569465/...,3808569465,,,,1182,80151
676,Apprentice - ICT Level 3 Network Technician - ...,Apprentice â€“ ICT Level 3 Network Technician Y...,https://www.linkedin.com/jobs/view/3808569465/...,3808569465,,,,1182,80151

In [23]:
cleaned_df1

,job_title,full_name,linkedin_profile_id,linkedin_profile_url,location,sales_navigator_company_id,tenure_length,company_id,company_name,industry
0,Head Of Engineering (Director),Richard Dixon,132465254,https://www.linkedin.com/in/ACwAAAflQmYBtL_AIy...,"Guildford, England, United Kingdom",69235707.0,3 yrs 1 mos,69235707,Ultra Intelligence & Communications,Defense and Space Manufacturing
1,Head Of Engineering (Satcoms),John Male,64506045,https://www.linkedin.com/in/ACwAAAPYSL0BfOyC67...,"Tring, England, United Kingdom",69235707.0,1 yrs 4 mos,69235707,Ultra Intelligence & Communications,Defense and Space Manufacturing
2,Head Of Firmware & Head Of Engineering Compliance,Jim Desa,78585490,https://www.linkedin.com/in/ACwAAASvHpIBjbXMVR...,"London, England, United Kingdom",69235707.0,2 yrs 10 mos,69235707,Ultra Intelligence & Communications,Defense and Space Manufacturing
3,Systems Engineering Consultancy Ultra Cyber,Michael Glasspool,22958038,https://www.linkedin.com/in/ACwAAAFeT9YBZ_nJlX...,United Kingdom,69235707.0,3 yrs 10 mos,69235707,Ultra Intelligence & Communications,Defense and Space Manufacturing
4,"Senior Director, Product Operations",Tony Goodall,23969027,https://www.linkedin.com/in/ACwAAAFtvQMB6RP4r7...,Belfast Metropolitan Area,15620.0,0 yrs 8 mos,15620,Gtt,Telecommunications
...,...,...,...,...,...,...,...,...,...,...
672,Director - Customer Operations & Service Manag...,Adam B.,55234986,https://www.linkedin.com/in/ACwAAANK0aoBq3eDIY...,"London, England, United Kingdom",1182.0,1 yrs 1 mos,1182,Bt Group,Telecommunications
673,Director Customer Operations,Cheryl Jones,755620116,https://www.linkedin.com/in/ACwAAC0J2RQB93HZWN...,Greater Cheshire West and Chester Area,1182.0,6 yrs 5 mos,1182,Bt Group,Telecommunications
674,"Director, Global Brand, Marketing & Commercial...",Antonia Barton,45045201,https://www.linkedin.com/in/ACwAAAKvVdEB8zlVOV...,"London, England, United Kingdom",1182.0,4 yrs 10 mos,1182,Bt Group,Telecommunications
675,Smb Channel Operations Director,Helen Slinger,12018003,https://www.linkedin.com/in/ACwAAAC3YVMB9lvG2r...,"Becconsall, England, United Kingdom",1182.0,0 yrs 6 mos,1182,Bt Group,Telecommunications
676,Director Of Field Operations,Nick Smith,1175383601,https://www.linkedin.com/in/ACwAAEYO7jEBYws8po...,"Reading, England, United Kingdom",1182.0,0 yrs 1 mos,1182,Bt Group,Telecommunications

In [24]:
merged_df = pd.merge(cleaned_df2, cleaned_df1, on="company_id")

In [25]:
merged_df

,title,job_description,job_url,job_id,poster_full_name,poster_id,poster_profile_url,company_id,number_employees,job_title,full_name,linkedin_profile_id,linkedin_profile_url,location,sales_navigator_company_id,tenure_length,company_name,industry
0,Senior IT Infrastructure Engineer,"Based: Greenford, Middlesex - moving to our ne...",https://www.linkedin.com/jobs/view/3815889862/...,3815889862,,,,69235707,477,Head Of Engineering (Director),Richard Dixon,132465254,https://www.linkedin.com/in/ACwAAAflQmYBtL_AIy...,"Guildford, England, United Kingdom",69235707.0,3 yrs 1 mos,Ultra Intelligence & Communications,Defense and Space Manufacturing
1,Senior IT Infrastructure Engineer,"Based: Greenford, Middlesex - moving to our ne...",https://www.linkedin.com/jobs/view/3815889862/...,3815889862,,,,69235707,477,Head Of Engineering (Satcoms),John Male,64506045,https://www.linkedin.com/in/ACwAAAPYSL0BfOyC67...,"Tring, England, United Kingdom",69235707.0,1 yrs 4 mos,Ultra Intelligence & Communications,Defense and Space Manufacturing
2,Senior IT Infrastructure Engineer,"Based: Greenford, Middlesex - moving to our ne...",https://www.linkedin.com/jobs/view/3815889862/...,3815889862,,,,69235707,477,Head Of Firmware & Head Of Engineering Compliance,Jim Desa,78585490,https://www.linkedin.com/in/ACwAAASvHpIBjbXMVR...,"London, England, United Kingdom",69235707.0,2 yrs 10 mos,Ultra Intelligence & Communications,Defense and Space Manufacturing
3,Senior IT Infrastructure Engineer,"Based: Greenford, Middlesex - moving to our ne...",https://www.linkedin.com/jobs/view/3815889862/...,3815889862,,,,69235707,477,Systems Engineering Consultancy Ultra Cyber,Michael Glasspool,22958038,https://www.linkedin.com/in/ACwAAAFeT9YBZ_nJlX...,United Kingdom,69235707.0,3 yrs 10 mos,Ultra Intelligence & Communications,Defense and Space Manufacturing
4,Senior IT Infrastructure Engineer,"Based: Greenford, Middlesex - moving to our ne...",https://www.linkedin.com/jobs/view/3815889862/...,3815889862,,,,69235707,477,Head Of Engineering (Director),Richard Dixon,132465254,https://www.linkedin.com/in/ACwAAAflQmYBtL_AIy...,"Guildford, England, United Kingdom",69235707.0,3 yrs 1 mos,Ultra Intelligence & Communications,Defense and Space Manufacturing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7439,Apprentice - ICT Level 3 Network Technician - ...,Apprentice â€“ ICT Level 3 Network Technician Y...,https://www.linkedin.com/jobs/view/3808569465/...,3808569465,,,,1182,80151,Director - Customer Operations & Service Manag...,Adam B.,55234986,https://www.linkedin.com/in/ACwAAANK0aoBq3eDIY...,"London, England, United Kingdom",1182.0,1 yrs 1 mos,Bt Group,Telecommunications
7440,Apprentice - ICT Level 3 Network Technician - ...,Apprentice â€“ ICT Level 3 Network Technician Y...,https://www.linkedin.com/jobs/view/3808569465/...,3808569465,,,,1182,80151,Director Customer Operations,Cheryl Jones,755620116,https://www.linkedin.com/in/ACwAAC0J2RQB93HZWN...,Greater Cheshire West and Chester Area,1182.0,6 yrs 5 mos,Bt Group,Telecommunications
7441,Apprentice - ICT Level 3 Network Technician - ...,Apprentice â€“ ICT Level 3 Network Technician Y...,https://www.linkedin.com/jobs/view/3808569465/...,3808569465,,,,1182,80151,"Director, Global Brand, Marketing & Commercial...",Antonia Barton,45045201,https://www.linkedin.com/in/ACwAAAKvVdEB8zlVOV...,"London, England, United Kingdom",1182.0,4 yrs 10 mos,Bt Group,Telecommunications
7442,Apprentice - ICT Level 3 Network Technician - ...,Apprentice â€“ ICT Level 3 Network Technician Y...,https://www.linkedin.com/jobs/view/3808569465/...,3808569465,,,,1182,80151,Smb Channel Operations Director,Helen Slinger,12018003,https://www.linkedin.com/in/ACwAAAC3YVMB9lvG2r...,"Becconsall, England, United Kingdom",1182.0,0 yrs 6 mos,Bt Group,Telecommunications
7443,Apprentice - ICT Level 3 Network Technician - ...,Apprentice â€“ ICT Level 3 Network Technician Y...,https://www.linkedin.com/jobs/view/3808569465/...,3808569465,,,,1182,80151,Director Of Field Operations,Nick Smith,1175383601,https://www.linkedin.com/in/ACwAAEYO7jEBYws8po...,"Reading, England, United Kingdom",1182.0,0 yrs 1 mos,Bt Group,Telecommunications

In [26]:
merged_df.to_csv("ITScrape - 3rd List.csv")